<h1>Payment Calculator</h1>
<form action="/payment/results" method="get">
  <label for="user_apr">APR</label>
  <input type="text" id="user_apr" name="user_apr">

  <label for="user_years">Number of years</label>
  <input type="text" id="user_years" name="user_years">

  <label for="user_pv">Principal</label>
  <input type="text" id="user_pv" name="user_pv">

  <button type="submit">Calculate monthly payment</button>
</form>
