<h1>Enter range for random number</h1>
<form action="/random/results">
  <input type="text" name="user_min" placeholder="Minimum number" />
  <input type="text" name="user_max" placeholder="Maximum number" />
  <button>Pick random number</button>
</form>
